{% extends 'base.html' %}

    {% block bodyblock %}

        <div class="container">
            <br><br>
            <h3 class="content">Web Application for <span style="color:cadetblue;">Face Recognition</span></h3>
            <br>
            <p class="content">
                A web application is created using the python web framework Flask. This application will predict the gender, given an image. In the backened we are using Open CV and Machine Learning techniques to get this gender prediction model ready.
            </p>
        </div>

    {% endblock %}